* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.header-top {
    width: 100%;
    height: 75px;
    display: flex;
    background-image: linear-gradient(#132029, #111518);
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
}

#button {
    width: 76px;
    height: 75px;
    background: #272727;
    border: none;
    position: relative;
}

#button .stick {
    width: 36px;
    height: 6px;
    margin: 0px auto 4px;
}

.stick img {
    width: 100%;
    height: 100%;
}

#button span {
    color: #fff;
    text-align: center;
    width: 76px;
    position: relative;
    left: 12px;
    top: 15px;
}

.drop-menu {
    position: absolute;
    z-index: 99;
    top: 75px;
    width: 375px;
    background: #141414;
    height: 328px;
    padding: 17px 0;
    font-family: Helvetica, sans-serif;
}

.drop-menu ul {
    margin: 0;
    padding: 0;
}

.drop-menu li {
    padding: 5px 5px 5px 37px;
    font-size: 18px;
    line-height: 30px;
}

.drop-menu a {
    text-emphasis: none;
    color: #ccc;
}

.drop-menu li:hover a {
    color: #AAC12E;
}

.buy-ticket1 {
    background: #54AB35;
    height: 36.8px;
    width: 107.79px;
    text-align: center;
    border-radius: 2px;
    margin: 19px 0px 0px 25px;
    color: #fff;
    font-weight: 600;
    line-height: 36.8px;
    font-size: 15px;
}

.buy-ticket1 a {
    color: #fff;
}

.language {
    color: #fff;
    line-height: 95px;
    margin-left: 385px;
    margin-right: 60px;
    font-size: 18px;
    font-weight: 600;
}

.language .active {
    color: #89C441;
}

.header-top .logo {
    margin-top: 12px;
    position: relative;
    z-index: 3;
}

.header-top .logo img {
    width: 75px;
    height: 74.3px;
}

.line-header {
    position: absolute;
    z-index: 2;
    top: 75px;
    left: 17%;
}

.hotline {
    line-height: 95px;
    margin-left: 59px;
}

.hotline span {
    color: #fff;
    font-size: 80%;
}

.hotline:hover span {
    color: #87C243;
    transition: 0.3s;
    cursor: pointer;
}

.contact {
    display: flex;
    margin-top: 15px;
    margin-left: 130px;
}

.contact .icon {
    margin-left: 15px;
}

#dang--nhap {
    width: 120px;
    height: 35px;
    background: #54AB35;
    text-align: center;
    color: #fff;
    line-height: 35px;
    border-radius: 5px;
    margin-top: 18px;
    margin-left: 31px;
}

.wrapper-login {
    width: 317px;
    height: 208px;
    background: #121825;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    right: 0;
    top: 76px;
    z-index: 6;
}

.wrapper-login input {
    width: 100%;
    height: 35px;
    border: none;
    padding: 0 15px;
}

.control {
    padding: 0 15px 12px;
}

.user-login {
    background: #273245;
}

input:focus {
    outline: 0;
    background: #fff;
    transition: 0.3s;
}

.login {
    display: flex;
    padding: 4px 15px 0px;
    justify-content: space-between;
    line-height: 42px;
}

.sign-in {
    background: #42AF33;
    width: 132px;
    height: 42px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.forgot a {
    font-size: 15px;
    color: #646E72;
}

.forgot:hover a {
    color: #B8D331;
    transition: 0.3s;
}

.sign-up {
    background: #42AF33;
    margin: 15px 15px 0px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.sign-up:hover {
    background: #B8D331;
}

.producted-view {
    width: 100%;
    background: black;
    margin-top: 0px;
}

.producted-title {
    font-family: Helvetica, sans-serif;
    width: 40%;
    margin: 0 auto 30px;
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.producted-title h3 {
    font-size: 17px;
    color: #fff;
    font-weight: 200;
}

h3.active1 {
    color: #C9D22A !important;
    text-decoration: underline;
}

.wrapper-slider {
    width: 1315px;
    margin: 0 auto;
}

.item {
    position: relative;
    height: 415px;
    margin-bottom: 76px;
    font-family: Helvetica, Arial, sans-serif;
}

.movie-name {
    padding: 10px 0;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.movie-name:hover {
    color: #C9D22A;
}

.buy-ticket {
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #45AB3D;
    background: #45AB3D;
    width: 100%;
    height: 45px;
    line-height: 45px;
    font-weight: 600;
}

.buy-ticket:hover {
    background: #EEEEEE;
    color: #45AB3D;
    border: #EEEEEE;
}

.promotion {
    background: #151515;
    padding-bottom: 30px;
}

.promotion .row {
    padding: 50px 0 60px;
    width: 100%;
}

.promotion .row .title {
    text-align: center;
    color: #7DAB4E;
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 20px;
}

.promotion .row .title span {
    text-decoration: underline;
    font-weight: 600;
}

.related {
    width: 1143px;
    margin: 0 auto;
}

#footer {
    /*margin-top: 60px;*/
    padding-top: 60px;
    position: relative;
    background: url(https://www.bhdstar.vn/wp-content/themes/bhd/assets/images/bg-grid.jpg) top center repeat;
    color: #fff;
    font-size: 0px;
}

#footer .logo {
    top: -60px;
    position: absolute;
    left: 50%;
    padding-top: 26px;
    margin-left: -100px;
    width: 200px;
    height: 163px;
    text-align: center;
    background: url(../images/footer-cured.png) 0px 0px no-repeat;
}

.container {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

#footer .col-md-3 {
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

#footer .title {
    padding-bottom: 8px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    position: relative;
}

#footer .menu {
    padding-bottom: 35px;
}

.menu-gioi-thieu-container ul {
    padding: 0;
}

#menu-dieu-khoan-su-dung {
    padding: 0;
}

#footer .menu li {
    margin-bottom: 11px;
}

#footer .menu a {
    color: #c3cc26;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
}

#footer .copyright {
    border-top: 2px solid #343434;
    padding: 26px 0px 26px 0px;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    text-align: center;
}